{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    layout ? 'layout--' ~ layout|clean_class,
  ]
%}


<div{{ attributes.addClass(classes) }}>

  {{ title_prefix }}
  {{ content }}
  {{ title_suffix }}


<button class="btn-component">
    Button
</button>
</div>
